<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Temporal</title>

  <!-- CSS  -->
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://materializecss.com/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Temporal</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/app">Application</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/app">Create an account</a></li>
      </ul>
      <a href="/app" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Create an Account</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Convert any REST API json endpoint into a chart</h1>
      <div class="row center">
        <h5 class="header col s12 light">Temporal SaaS App </h5>
      </div>
      <div class="row center">
        <a href="/app" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Use any Json endopoint</h5>
            <img class="responsive-img" src="https://i.imgur.com/mVdK8UA.png">

            <p class="light">You don't have to specify which fields you want to parse - the system will automatically detect numeric types</p>
          </div>
        </div>

        <div class="col s12 m4">
            <h5 class="center">Charts</h5>

            <p class="light">See the historical results on the chart</p>
            <img class="responsive-img" src="https://i.imgur.com/oPcKVSz.png">

          </div>

         

        <div class="col s12 m4">
         
            <h5 class="center">Download CSV</h5>
            <img class="responsive-img" src=" https://i.imgur.com/IRC2cIi.jpg
            ">


            <p class="light">Historical data JSON endopoint, option to download CSV data.
              To use: add either /csv or /json to get data from the chart website and you will get tabular data
            </p>
         
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer  light-blue accent-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Why it's created</h5>
          <p class="grey-text text-lighten-4">This App is mostly for quant traders looking for historical data.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <div class="orange-text text-lighten-3" >Temporal ventures </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


  </body>
</html>
