<!doctype html>
<html lang="en">
<head>
   <title>Document</title>
</head>
<body>
    <div id="chart"></div>



</body>
<!-- Load c3.css -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.js"></script>


<script>
let url = window.location.href+'/json'
let kek; 
fetch(url)
.then(res => res.json())
.then((out) => {
    kek = out;
    cwd(kek);
  console.log('Checkout this JSON! ', out);
})
.catch(err => { throw err });


function cwd(foo) {
    var chart = c3.generate({
    data: {
        xFormat: '%Y-%m-%dT%H:%M:%S',
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x'].concat(kek["dates"]),
//            ['x', '20130101', '20130102', '20130103', '20130104', '20130105', '20130106'],
            ['data1'].concat(kek[String(window.location.href+'/json').split("/")[5]])
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%dT%H:%M:%S'
            }
        }
    }
});
}








</script>

<style>

</style>



</html>
